* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background: linear-gradient(#f7cdd3, #ffffff);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 50px;
    background:white;
    border-radius:30px;
    margin:20px;
}

.logo {
    width: 50px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu {
    font-size: 24px;
    cursor: pointer;
}

section {
  padding: 60px 80px;
}

.contact-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-hero .text {
  max-width: 100%;
  font-size: 25px;
  
}

.contact-hero h1 {
  color: #7b2d2d;
  margin-bottom: 20px;
  text-align: center;
}

.contact-hero img {
    width: 350px;
}

.contact-info {
  display: flex;
  color: #7b2d2d;
  align-items: center;
  justify-content: space-between;
}
.info-text{
  font-size: 22px;
}

.kolor {
    color: #333;
    font-size: 20px;
}

.contact-info img {
  width: 600px;
}

.business-hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;

}

.business-hours img {
  width: 350px;
}

.business-hours h1 {
  color: #7b2d2d;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.social img {
  width: 300px;
}

.social h1 {
  color: #7b2d2d;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .contact-hero,
  .contact-info,
  .business-hours,
  .social {
    flex-direction: column;
    text-align: center;
  }

  .contact-hero .text {
    max-width: 100%;
  }

  section {
    padding: 40px 20px;
  }
}