body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: linear-gradient(#f7cdd3, #ffffff);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 50px;
    background:white;
    border-radius:30px;
    margin:20px;
}

.logo {
    width: 50px;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
}

.menu {
    font-size: 24px;
    cursor: pointer;
}

.section {
    padding: 40px;
}

.section h1 {
    text-align: center;
    color: #7b2d2d;
    letter-spacing: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.card {
  background: #eee;
  padding: 15px;
  border-radius: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 250px;        
  object-fit: cover;    
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #8b0000;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.stars {
    color: gold;
    margin-top: 5px;
}

.footer{
    background: linear-gradient(#f7cdd3, #f1bfc7);
    padding: 30px 50px;
    color: #6b2c2c;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-logo img{
    width: 80px;
}

.footer-col h4{
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-col p{
    margin: 5px 0;
    cursor: pointer;
}

.footer-col p:hover{
    text-decoration: underline;
}

.social-icons{
    display: flex;
    gap: 10px;
}

.social-icons img{
    width: 25px;
    cursor: pointer;
}

footer hr{
    margin: 20px 0;
    border: 0.5px solid #b87c84;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom .links{
    display: flex;
    gap: 10px;
}

.links-term {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}